.header {
  background-color: rgb(80, 90, 210);
  /* height: 100vh; */
  width: 100vw;
}

.brand {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
}

.jumbotron h1 {
  font-size: 10vh;
}
