.header {
  background-color: rgb(80, 90, 210);
}

.who {
  background-color: rgb(255, 255, 255);
}

.what {
  background-color: rgb(250, 210, 220);
}

.what img {
  width: auto;
  max-height: 15rem;
}
