.header {
  background-color: rgb(80, 90, 210);
  /* height: 100vh; */
  width: 100vw;
}

.who {
  background-color: rgb(255, 255, 255);
  /* height: 100vh; */
  width: 100vw;
}

.what {
  background-color: rgb(250, 210, 220);
  /* height: 100vh; */
  width: 100vw;
}
